/.vscode/tasks.json
/build/CMakeFiles/
/build/vendored/
/build/assetbackup/
/build/*.cmake
/build/*.txt
/build/Makefile
/build/Release/b*
/build/Release/l*
/build/Release/worlds
vc140.pdb
vendored/SDL
